body{
    font-family: 'Open Sans', sans-serif;
    color: #444;
    font-size: 11pt;
    height: 100%;
    margin: 0;
    padding: 0;
}


.icon-block {
  padding: 0px;
}
.icon-block .material-icons {
    font-size: inherit;
}


.author{
    font-size: 16pt;
}
.school{
    font-size: 12pt;
}

.title{
    font-size: 20pt;
    font-weight: bold;
}
.subtitle{
    font-size: 14pt;
    font-style: italic;
    font-weight: bold;
}

pre{
    font-size: 12pt;
    padding: 10px;
    border-radius: 10px;
    /*background-color: #EEEEEE;*/
}

.loading {
  background: transparent url('http://thinkfuture.com/wp-content/uploads/2013/10/loading_spinner.gif') center no-repeat;
}
.fa-folder-open{
  color: #f4d275;
}

.footer-copyright{
  background-color: #e0e0e0 !important;
}

table td {
    text-align: center;
    vertical-align: middle;
    padding: 5px;
    position: relative;
}

.shadow {
  -webkit-box-shadow: 5px 5px 5px #aaa;
  -moz-box-shadow: 5px 5px 5px #aaa;
  box-shadow: 0px 0px 10px #aaa;
  margin-bottom: 10px;
}

/*.gt {
  color: #444;
  font-style: italic;
}*/

.learned {
  /*color: #000;*/
}

/*.notlearned {
  color: #080;
}
*/
.ours {
  font-weight: 600;
}

.select_label {
  font-weight: 400 !important;
  color: #A00 !important;
}

.caption{
    font-size: 12pt;
    font-weight: italic;
    margin-top: 20px;
    margin-bottom: 10px;
    text-align: center;
}
.method-tag{
    /*border: 0px solid black;*/
    font-size: 12pt;
    /*width: 6%;*/
    /*height: 50px;*/
    /*height: 200%;*/
    /*line-height: 26px;*/
    /*word-wrap:break-word;*/
    /*color: #224B8D;*/
    color: #337ab7;
    /*display: inline-block;*/
    /*flex:left;*/
    /*align-items:*/
    /*text-align: center;*/
    /*vertical-align: middle;*/
    /*display: table-cell;*/
    /*line-height: 10px;*/
    padding-bottom: 3pt !important;
}

/*.cell {
    display: table-cell;
    vertical-align: middle;
}*/
/*
.method-tagg:hover{
    color: red !important;
    cursor: pointer;
}
*/
.method-tag:hover{
    /*font-weight: bold;*/
    color: red !important;
    cursor: pointer;
}

ul.dropdown-content.select-dropdown li span {
    color: #444; /* no need for !important :) */
    font-size: inherit; 
    font-weight: 600;
}

.img_selector{
    text-align: center;
}

.demo-img{
    min-height: 600px !important;
    max-height: 600px !important;
    /*width: 100%;*/
    /*height: 100%;*/
}

.note{
    font-size: 12pt;
}

.row{
    margin-bottom: 0pt;
}

.emphasis{
    font-size: 13pt;
    font-weight: bold;
    color: red;
}

.row-centered {
    text-align:center;
}
.col-centered {
    display:inline-block;
    float:none !important;
    /* reset the text-align */
    text-align:center;
    /* inline-block space fix */
    margin-right:-4px;
    min-width: 170px;
}

.mmw {
    min-width: 100px; 
    max-width:150px;
    font-weight: 600 !important;
}
/*#tableContainer {
    background: #e5e5e5;
    border: 1px solid gray;
    overflow: hidden;
    position: relative;
    padding: 10px;
}
table.initial {
    background: #ffffff;    
}*/

svg:hover {
    fill: orange;
}